{{template "base/head" .}}
<div class="home">
	<div class="ui stackable middle very relaxed page grid">
		<div class="sixteen wide center aligned centered column">
			<div>
				<img class="logo" src="https://www.aniqma.com/assets/gitlogo.png" />
			</div>
			<div class="hero">
				<h1 class="ui icon header title">
                    {{AppName}}
				</h1>
				<h2>{{.i18n.Tr "app_desc"}}</h2>
			</div>
		</div>
	</div>
	<div class="ui stackable middle very relaxed page grid">
		<div class="sixteen wide center column">
			<h1 class="hero ui icon header">
				How you can use {{AppName}}?
			</h1>
			<p class="large">
				This git server only can be accessed by aniqma and our clients.
                If you are interested to be our client you can register on <a href="https://www.aniqma.com/">aniqma site</a>.
			</p>
		</div>
	</div>
</div>
{{template "base/footer" .}}
